/* custom Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   /* Typography */
   html {
      @apply font-['Poppins',_sans-serif] 
      3xl:text-[1.2rem] scroll-smooth scrollbar;git 
   }
   body {
      @apply text-body;
   }
   h1 {
      @apply text-4xl sm:text-5xl xl:text-6xl 
      text-secondary font-bold;
   }
   h2 {
      @apply text-3xl md:text-4xl lg:text-5xl 
      text-secondary font-semibold;
   }
   h1 ~ p {
      @apply lg:text-lg;
   }
   h2 ~ p {
      @apply lg:text-xl;
   }
   /* Reset */
   a {
      @apply inline-block;
   }
   [hidden] {
      @apply !hidden;
   }
   hr {
      @apply text-gray/80;
   }
}

@layer components {
   /* Custom Form */
   .form {
      @apply max-w-120 flex flex-col gap-5 mx-auto xl:mx-0;
      & label {
         @apply lg:text-lg capitalize relative;
         & .label {
            @apply absolute top-4 left-4 lg:top-5 
            lg:left-6 z-10 duration-300;
         }
      }
      & input,
      & textarea {
         @apply w-full bg-gray-light text-secondary 
         lg:text-lg p-4 lg:py-5 lg:px-6 rounded-lg border 
         border-gray-light focus:bg-white focus:border-primary 
         autofill:border-gray-light autofill:!shadow-autofill 
         outline-none;
      }
      & input:focus ~ .label,
      & textarea:focus ~ .label,
      & input:not(:placeholder-shown) ~ .label,
      & textarea:not(:placeholder-shown) ~ .label {
         @apply bg-white px-1 rounded-sm left-3 lg:left-5 
         text-sm text-body -translate-y-[calc(50%_+_1rem)];
      }
      & input:focus ~ .label,
      & textarea:focus ~ .label {
         @apply text-primary left-3 lg:left-5;
      }
      & input:not(:placeholder-shown),
      & textarea:not(:placeholder-shown) {
         @apply bg-white;
      }
      .error {
         & .label {
            @apply !text-error;
         }
         & input,
         & textarea {
            @apply !border-error bg-white;
         }
      }
   }

   /* Custom Scrollbar */
   .scrollbar {
      @apply [scrollbar-width:thin] 
      [scrollbar-color:theme(colors.primary.DEFAULT)_theme(colors.gray.DEFAULT)];
      &::-webkit-scrollbar {
         @apply max-w-[10px];
         &-track {
            @apply bg-gray shadow-inner;
         }
         &-thumb {
            @apply bg-primary;
         }
         &-thumb:hover {
            @apply bg-primary-light;
         }
      }
      &-section {
         &::-webkit-scrollbar-track {
            @apply bg-gray border-0 border-solid 
               border-l-[5px] border-l-transparent 
               bg-clip-content;
         }
      }
   }

   /* Open the nav-menu */
   .open {
      &.menu {
         @apply opacity-100 top-20 duration-300;
         & .link {
            @apply odd:left-0 even:right-0 duration-700 delay-300;
         }
         & ~ .close {
            & .burger-icon {
               @apply bg-gray-light;
               & span {
                  @apply w-11/12 h-[0.125rem] bg-body block 
                   first-of-type:rotate-45 first-of-type:translate-y-[0.4375rem] 
                   [&:nth-of-type(2)]:opacity-0 [&:nth-of-type(2)]:duration-100 
                   last-of-type:-rotate-45 last-of-type:-translate-y-[0.4375rem];
               }
            }
         }
      }
   }

   .pg-active {
      @apply font-semibold text-secondary relative 
       lg:before:absolute lg:before:w-1 lg:before:h-1 
       lg:before:-bottom-1 lg:before:left-2/4 
       lg:before:-translate-x-2/4 lg:before:bg-secondary 
       lg:before:rounded-full;
   }
   .clickable {
      @apply bg-primary fill-white cursor-pointer 
      hover:bg-primary/90 !important;
   }
}
